body {
  background-color: blue;
  font-family: verdana;
  font-size: 20px;
}

h1 {
  color: black;
  text-align: center;
  font-size: 22px;
}

h2{
	color: black;
  text-align: center;
  font-size: 18px;
}

h3{
	color: black;
  text-align: center;
  font-size: 16px;
}

h4{
	color: black;
  text-align: center;
  font-size: 14px;
}

p {
  font-family: verdana;
  font-size: 20px;
}

#img1{
	border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

#gegevens {
  border:1px solid ;
  
  text-align:left;
}

#gegevens tr td  , #gegevens tr th {
  padding:1em;
}